.contact__container {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.contact__container a {
  width: 5rem;
  aspect-ratio: 1/1;
  color: white;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-1);
}

.contact__container a:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transform: translateY(-0.5rem);
}

.message {
  margin-top: 5rem;
}

/* ====== Message Form ====== */

.form__container {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem
}

form {
  width: 40%;
  display: block;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary);
  resize: none;
  color: var(--color-primary);
}

.form__button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  text-transform: capitalize;
  transition: var(--transition);
}

.form__button a:hover {
  transform: translateY(0);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .container .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  form {
    width: 85%;
    display: block;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form__container {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem
  }

  .message {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .container .contact__container {
    width: var(--container-width-sm);
  }

  form {
    width: 85%;
    display: block;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form__container {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem
  }

  .message {
    margin-top: 2rem;
    margin-bottom: 0;
  }

}